# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
*.tsbuildinfo

# Supabase local
supabase/.branches
supabase/.temp

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
